#containerlogin {
	width:75%; 
	height: 90%;
	margin: auto;
	background-color: white;
	border: 0px;	
	float: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 4%;
	float: center;
}

#containerhome {
	width:75%; 
	height: 90%;
	margin: auto;
	background-color: white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px #fbb134 solid;	
	float: center;
	padding-bottom: 4%;
}

#welcome, #choosechild {
	background-color: white;
	padding: 1%;
	width: 95%;
	height: 6%;
	font-size: 16pt;
    margin: auto;
}

#header {
	width:95%; 	
	font-size: 36pt; 
	background-color: white;
	margin: auto;
	background-color: white;
	height: 40%;
}

#header1 {
	font-size: 33pt;
	text-align: center;
	color: #e98325; 
	font-family: arial;
}

#header2 {
	font-size: 23pt;
	text-align: center;
	color: #05345c;
	font-family: arial;
	padding: 3%;
}

#header img{
	height: 250px; 
	width: 650px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
}

#header2 img{
	height: 200px; 
	width: 200px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	border-radius: 100px; 
	float: left;
	padding: 1%;
	padding-bottom: 1%;
}

input {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 1%;
	width: 50%;
	margin-bottom: 2%;
	margin-top: 1%;
	border: 3px solid lightgray;
	height: 6%;
	font-size: 16pt;
	opacity: .8;
    vertical-align: middle;
    margin-left: 25%;
    margin-right: 15%;
}

hr {
	color: lightgray;
	width: 55%;
	margin: auto;
	opacity: .5;
}

#forgotpassword {
	font-family: arial;
	font-weight: bold;
	font-size: 14pt;
	color: #05345c;
	float: left;
	margin-left: 10%; 
	padding: 1%;
	width: 37%;}

input[type="submit"]{
	width: 20%; 
	background-color: #fbb134; 
	color: white; 
	border: 0px; 
	float: left;
	opacity: 1; 
	display: block;
	margin-right: auto;
}

#kid-container {
	height: 250px; 
	width: 650px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	padding-top: 3%;
	padding-bottom: 3%;
}

.kid{
	width: 210px;
	height: 210px;
	float: left;
}

.brc{ 
	clear:both;
}


#profile-container{
	width: 960px;
	margin: auto;
	background-color: #d1d4d3;
	font-family: roboto;
}

#banner{
	border-bottom: 3px solid #fbb134;
	background-color: white;	
}
#profile-img-container{
	width: 150px;
	height: 150px;
	margin: 20px 20px 20px 50px;
	background-color: #d1d4d3;
	float: left;
}
#profile-img{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	border: 10px solid white;
	float: left;
	background-image: url(./images/kid.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
#navbar{
	width: 680px;
	height: 100px;
	background-color: #d1d4d3;
	margin: 80px 20px 0px 30px;
	float: left;
	text-align: center;
}
#navbar img{
	margin-right: 5px;
}
#info{
	width: 860px;
	height: 310px;
	margin: auto;
	margin-bottom: 30px;
	padding-bottom: 30px;
	background-color: white;
	border-radius: 20px;
}
.info-half{
	width: 370px;
	padding: 30px;
	float: left;
}
#profile-name{
	text-transform: uppercase;
	font-size: 52px;
	font-weight: 500;
	line-height: 45px;
	color: #0077aa;
	margin-bottom: 50px;
}
#profile-age{
	text-transform: uppercase;
	font-size: 33px;
	color: #e98325;
}
#profile-dob{
	font-size: 30px;
	color: #e98325;
}
.profile-stat{
	width: 150px;
	height: 120px;
	float: left;
	color: #fbb134;
	text-align: right;
	padding-right: 30px;
	padding-top: 20px;
}
.stat-number{
	font-size: 33px;
	font-weight: 500;
}
.stat-label{
	font-size: 23px;
	text-transform: uppercase;
	font-family: roboto-thin;
}
#profile-weight, #profile-bmi{
	border-right: 1px solid #d1d4d3;
	
}
#profile-weight, #profile-height{
	border-bottom: 1px solid #d1d4d3;
}
#footer{
	width: 860px;
	height: 20px;
	padding: 20px 50px 20px 50px;
	background-color: grey;
	border-top: 2px solid white;
	color: #d1d4d3;
	font-weight: 100;
	font-size: 12px;
}














